logs
project/project
project/target
target
tmp
.history
dist
.project
.settings
.classpath
.cache
.target
bin
.pydevproject
RUNNING_PID
.idea*
*.sublime-project
*.sublime-workspace
conf/local.conf
local.sbt
